.NewQuestions_underline__PkZOO {
    background-image: linear-gradient(to right, 
      #004d99,
      #0055a6,
      #005eb3,
      #0067bf,
      #0070cc,
      #0079d9,
      #0082e6,
      #008bf2,
      #0094ff,
      #009dff
    ); /* Adjust the color stops as needed */
    height: 3.2px; /* Adjust the height of the underline */
    width: 100px; /* Adjust the width to match the text */
    margin: auto; /* Center the underline */
    margin-top: 5px; /* Adjust the top margin as needed */
    border-radius: 1.5px;
  }
  /* AboutUs.css */
.light-blue-bg {
    background-color: #cbeffb; /* Light blue */
  }
  .extreme-bold {
    font-weight: 900; /* Adjust the font weight for extreme boldness */
  }
  .btn-custom {
    background-color: #cbeffb;
    border-color: #cbeffb;
    color: black;
  }
  
  .btn-custom:hover {
    background-color: black;
    border-color: black;
    color: white;
  }

  /* AboutUs.css */

.p-4.light-blue-bg {
  transition: transform 0.3s ease; /* Add transition effect */
}

  
  
  
  