.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Light Theme */
body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

.navbar-light .navbar-brand, 
.navbar-light .nav-link {
  color: #000;
}

/* Dark Theme */
body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

body.dark-theme .navbar-light .navbar-brand, 
body.dark-theme .navbar-light .nav-link {
  color: #fff;
}

/* Additional styles to target buttons, links, etc. */
body.dark-theme .btn {
  background-color: #444;
  color: #fff;
}

body.light-theme .btn {
  background-color: #fff;
  color: #000;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.section-subtitle {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  color: #007bff;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}
.card {
  height: 100%;
}

.card-img-wrapper {
  overflow: hidden;
  width: 100%;
  height: 200px; /* Adjust the height as needed */
}

.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 100%;
}